{% extends "futureyou/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block content %}
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="mb-3">
                    {% if request.session.upload_image_file_name %}
                        <img src="{% static request.session.upload_image_file_name %}" class="session-image" alt="uploaded-image">
                    {% endif %}
                </div>
                <div><h5>{% trans "Image upload" %}</h5>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="custom-file">
                            <input type="file" name="image" class="custom-file-input" id="customFile" accept="image/*">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                            <button type="submit" class="btn btn-outline-info btn-block btn-upload mt-2" disabled>Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                $(".btn-upload").prop("disabled", false);
            });
        });
    </script>
{% endblock %}